html, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    background-color: #f2e3ed;

    /*background-image: url('dorama2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;*/
}

/*#body-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 0;
}*/

.content {
    position: relative;
    z-index: 50;
}
.container {
    max-width: 890px;
    margin: 0 auto;  
}

.introduction {
    margin: 20px 0;
    color: #904176;
    text-align: center;
}

.question-section {
    box-shadow: 4px 8px 18px #ccc;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color: white;
    width: 100%;
    position: relative;
}

.question-section figure {
    padding: 18px 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    color: #696969;
}

.question-section figure img {
    border-radius: 10%;
}

.question-section header {
    padding: 18px 20px;
    background-color: #904176;
    color: #ffffff;
    border-radius: 25px 25px 0 0;
}

.question-section header h2 {
    font-size: 0.875rem;
}

.question-section form {
    padding: 18px 20px;
    margin-top: 10px;
    width: 100% 
}

.question-section label {
    color: #696969
}

.question-section label:hover {
    color: #904176;
}

.question-section label svg {
    color: #696969;
    
}

.question-section input[type="text"],
.question-section select  {
    padding: 10px 15px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: #904176;

}

.form-actions {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.form-actions button {
    padding: 6px 20px;
    border: none;
    border-radius: 10px;
    background-color: #904176;
    color: white;
}

.main-header {
    width: 100%;
    background-color: #904176;
    padding: 20px 0;
    color: white;
    text-align: center;
}

footer {
    text-align: center;
    padding: 40px 0;
    font-size: 0.875rem;
    color: #666;
}

.feedback-section {
    background-color: #904176;
    margin-top: 40px;
    border-radius: 20px;
    padding: 10px 15px;
    color: white;
}

.feedback-section table {
    margin-top: 10px; 
    border-collapse: collapse;
    width: 100%;
}

.feedback-section table th:first-child {
    border-top-left-radius: 20px;
}

.feedback-section table th:last-child {
    border-top-right-radius: 20px;
}

.feedback-section table tfoot td {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.feedback-section table th {
    background-color: #f2e3ed;
    padding: 10px;
    color: #904176;
}

.feedback-section table td {
    background-color: #f2e3ed;
    padding: 10px;
    color: #904176;
    border-top: 1px solid #904176;
}

tfoot [colspan="2"], h2 {
    text-align: center;
}

li {
    color: #696969;
}

.respostas h2 {
    margin: 20px;
    color: #904176;
}

.respostas li:hover {
    color: #904176
}

.feedback h2 {
    margin: 20px;
    color: #904176;
}

.feedback fieldset {
    border-radius: 20px;
    padding: 10px;
    border-color: #904176;
}

.feedback fieldset div {
    margin-bottom: 10px;
}

.feedback legend {
    color: #904176;
    padding: 0 20px;
    text-align: center;
}

.feedback fieldset input, 
.feedback fieldset textarea {
    color: #904176;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    outline: none;
    box-shadow: none;
    border: 1px solid #904176;
}


.feedback label {
    color: #904176;
}

.respostas summary {
    color: #904176;
    text-align: center;
}

.onclick {
    background-color: #f2e3ed;
    color: #904176;
}